.infobox
	{
	    position: absolute;
	    z-index: 10000;
	    
	    width: 150px;
	    
	    background: #fff;
	    border: solid 1px #555;
	    padding: 8px;
	    color: #555;
	}
.infobox h4
	{
	    color: #000;
	    margin: 0;
	    font-weight: bold;
	}

